* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans",sans-serif;
}

body {
  background: #f6fafd;
}

a {
  color: #02a8f3;
  text-decoration: none;
}

.header { 
  background-color: gray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  position: relative;
  @media (max-width: 992px) {
    display: none;
  }
  .header-text {
    color: white;
    margin: 0 16px;
    &.header-language {
      cursor: pointer;
      .las {
        transition: all 250ms;
      }
    }
  }
  .alternative-language {
    position: absolute;
    position: absolute;
    top: 40px;
    right: 15px;
    background-color: #fff;
    border: 1px solid #ebeef5;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    list-style: none;
    line-height: 36px;
    padding: 0 20px;
    margin: 0;
    font-size: 14px;
    color: #606266;
    cursor: pointer;
    outline: 0;
    height: 38px;
    transition: all 250ms;
    &:hover {
      background-color: #ecf5ff;
      color: #66b1ff;
    }
    &::after {
      content: " ";
      border-width: 6px;
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      top: -5px;
      left: 55px;
      border-top-width: 0;
      border-bottom-color: #fff;
    }
    &.hidden {
      height: 0;
      overflow: hidden;
      color: transparent;
    }
  }
}

main {
  background-image: url('https://taskdev.mile.app/d09f7f2de7d88fb5f1575273b8a26426.png'),linear-gradient(180deg,rgba(2,168,243,.06),rgba(2,168,243,0));
  background-repeat: no-repeat;
  background-position: 100%;
  overflow: auto;
  @media (max-width: 992px) {
    background-image: none;
    background: #fff;
  }
  .navigation {
    color: rgb(2, 168, 243);
    font-weight: 900;
    position: absolute;
    left: 80px;
    top: 80px;
    z-index: 999;
    cursor: pointer;
    @media (max-width: 992px) {
      width: 95%;
    }
  }
  section {
    max-width: 1280px;
    margin: 0 auto;
    .container {
      .panel {
        width: 100%;
        .card {
          .body {
            border: 1px solid #ebeef5;
            background-color: #fff;
            color: #303133;
            padding: 5em 0;
            box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
            text-align: center;
            max-width: 420px;
            @media (max-width: 992px) {
              width: 95%;
            }
            margin: auto;
            margin-top: 3em;
            .content {
              padding: 20px;
              display: flex;
              flex-direction: column;
              .caption {
                font-size: 1rem;
                font-weight: 600;
                line-height: 30px;
                width: 95%;
                color: #767676;
                margin: auto;
                margin-top: 2rem;
              }
              .form-data {
                display: flex;
                flex-direction: column;
                margin: auto;
                width: 90%;
                &.organization {
                  margin-top: 4em!important;
                  label {
                    text-align: left;
                    padding-bottom: .25rem;
                    color: #767676;
                  }
                  input {
                    background-color: #fff;
                    background-image: none;
                    border-radius: 4px;
                    border: 1px solid #dcdfe6;
                    box-sizing: border-box;
                    color: #606266;
                    display: inline-block;
                    font-size: inherit;
                    height: 40px;
                    line-height: 40px;
                    outline: 0;
                    padding: 0 15px;
                    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
                    width: 100%;
                    &:focus {
                      border-color: #409eff;
                      outline: 0;
                    }
                    &::placeholder {
                      opacity: 0.5;
                    }
                  }
                  .validate-failed {
                    font-size: 12px;
                    color: #e57373;
                    font-weight: 700;
                  }
                  &.error {
                    input {
                      border-color:#d24848;
                    }
                  }
                }
                &.submit {
                  border-radius: 4px;
                  margin-top: 1rem;
                  button {
                    background-color: #409eff;
                    color: #fff;
                    line-height: 1;
                    white-space: nowrap;
                    cursor: pointer;
                    border: 1px solid #dcdfe6;
                    text-align: center;
                    box-sizing: border-box;
                    outline: 0;
                    margin: 0;
                    transition: .1s;
                    font-weight: 500;
                    padding: 12px 20px;
                    font-size: 14px;
                    border-radius: 4px;
                    &:hover, &:disabled {
                      background: #66b1ff;
                      border-color: #66b1ff;
                      color: #fff;
                    }
                    &:disabled {
                      cursor: not-allowed;
                    }
                  }
                }
              }
              .not-register {
                margin-top: 2em!important;
              }
              .another {
                margin: 0.25rem;
              }
              img {
                width: 50%;
              }
            }
          }
        }
      }
      .copyright {
        margin-top: 5rem;
        text-align: center;
        font-size: 14px;
        color: #828282;
        font-weight: 700;
      }
    }
  }
}