* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
body {
  background: #f6fafd;
}
a {
  color: #02a8f3;
  text-decoration: none;
}
.header {
  background-color: gray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  position: relative;
}
@media (max-width: 992px) {
  .header {
    display: none;
  }
}
.header .header-text {
  color: white;
  margin: 0 16px;
}
.header .header-text.header-language {
  cursor: pointer;
}
.header .header-text.header-language .las {
  transition: all 250ms;
}
.header .alternative-language {
  position: absolute;
  top: 40px;
  right: 15px;
  background-color: #fff;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  list-style: none;
  line-height: 36px;
  padding: 0 20px;
  margin: 0;
  font-size: 14px;
  color: #606266;
  cursor: pointer;
  outline: 0;
  height: 38px;
  transition: all 250ms;
}
.header .alternative-language:hover {
  background-color: #ecf5ff;
  color: #66b1ff;
}
.header .alternative-language::after {
  content: " ";
  border-width: 6px;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: -5px;
  left: 55px;
  border-top-width: 0;
  border-bottom-color: #fff;
}
.header .alternative-language.hidden {
  height: 0;
  overflow: hidden;
  color: transparent;
}
main {
  background-image: url('https://taskdev.mile.app/d09f7f2de7d88fb5f1575273b8a26426.png'), linear-gradient(180deg, rgba(2, 168, 243, 0.06), rgba(2, 168, 243, 0));
  background-repeat: no-repeat;
  background-position: 100%;
  overflow: auto;
}
@media (max-width: 992px) {
  main {
    background-image: none;
    background: #fff;
  }
}
main .navigation {
  color: #02a8f3;
  font-weight: 900;
  position: absolute;
  left: 80px;
  top: 80px;
  z-index: 999;
  cursor: pointer;
}
@media (max-width: 992px) {
  main .navigation {
    width: 95%;
  }
}
main section {
  max-width: 1280px;
  margin: 0 auto;
}
main section .container .panel {
  width: 100%;
}
main section .container .panel .card .body {
  border: 1px solid #ebeef5;
  background-color: #fff;
  color: #303133;
  padding: 5em 0;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 420px;
  margin: auto;
  margin-top: 3em;
}
@media (max-width: 992px) {
  main section .container .panel .card .body {
    width: 95%;
  }
}
main section .container .panel .card .body .content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
main section .container .panel .card .body .content .caption {
  font-size: 1rem;
  font-weight: 600;
  line-height: 30px;
  width: 95%;
  color: #767676;
  margin: auto;
  margin-top: 2rem;
}
main section .container .panel .card .body .content .form-data {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}
main section .container .panel .card .body .content .form-data.organization {
  margin-top: 4em!important;
}
main section .container .panel .card .body .content .form-data.organization label {
  text-align: left;
  padding-bottom: 0.25rem;
  color: #767676;
}
main section .container .panel .card .body .content .form-data.organization input {
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
main section .container .panel .card .body .content .form-data.organization input:focus {
  border-color: #409eff;
  outline: 0;
}
main section .container .panel .card .body .content .form-data.organization input::placeholder {
  opacity: 0.5;
}
main section .container .panel .card .body .content .form-data.organization .validate-failed {
  font-size: 12px;
  color: #e57373;
  font-weight: 700;
}
main section .container .panel .card .body .content .form-data.organization.error input {
  border-color: #d24848;
}
main section .container .panel .card .body .content .form-data.submit {
  border-radius: 4px;
  margin-top: 1rem;
}
main section .container .panel .card .body .content .form-data.submit button {
  background-color: #409eff;
  color: #fff;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #dcdfe6;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
main section .container .panel .card .body .content .form-data.submit button:hover,
main section .container .panel .card .body .content .form-data.submit button:disabled {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}
main section .container .panel .card .body .content .form-data.submit button:disabled {
  cursor: not-allowed;
}
main section .container .panel .card .body .content .not-register {
  margin-top: 2em!important;
}
main section .container .panel .card .body .content .another {
  margin: 0.25rem;
}
main section .container .panel .card .body .content img {
  width: 50%;
}
main section .container .copyright {
  margin-top: 5rem;
  text-align: center;
  font-size: 14px;
  color: #828282;
  font-weight: 700;
}
